# Core ML
tensorflow>=2.10.0
numpy
scikit-learn

# Data Visualization
matplotlib
seaborn

# Image Processing
pillow
pillow-heif  # Support for HEIC/HEIF images
pillow-avif-plugin # Support for AVIF images

# Web Application
flask
